 <!-- FOOTER -->
        <footer class="footer pt-80 ">
            <section class="copyright ptb-60 ">
                <div class="container ">
                    <p class=" ">
                        © 2016 <a href="http://www.adixe.com"><b>Adixe SARL</b></a>. Tout droits réservés.
                        <br />
                    </p>
                </div>
            </section>

        </footer>
        <!-- END FOOTER -->

        <!-- Scroll Top -->
        <a class="scroll-top ">
            <i class="fa fa-angle-double-up "></i>
        </a>
        <!-- End Scroll Top -->
