 <!-- FOOTER -->
        <footer class="footer pt-80 ">
            <div class="container ">
                <div class="row mb-60 ">
                    <!-- Logo -->
                    <div class="col-md-6 col-sm-6 col-xs-12 mb-xs-30 ">
                        <a href="index.html">
                            <h3>Domain-Driven-Design.eu</h3></a>
                    </div>
                    <!-- Logo -->

                    <!-- Newsletter -->
                    <div class="col-md-4 col-sm-5 col-xs-12 mb-xs-30 ">
                        <div class="newsletter ">
                            <!--<form>
                                <input type="email " class="newsletter-input input-md newsletter-input mb-0 " placeholder="Enter Your Email ">
                                <button class="newsletter-btn btn btn-xs btn-white " type="submit " value=" "><i class="fa fa-angle-right mr-0 "></i></button>
                            </form>-->
                        </div>
                    </div>
                    <!-- End Newsletter -->

                    <!-- Social -->
                    <div class="col-md-2 col-sm-4 col-xs-12 ">
                        <ul class="social ">
                            <li><a target="_blank " href="https://www.twitter.com/jgrodziski"><i class="fa fa-twitter "></i></a></li>
                        </ul>
                    </div>
                    <!-- End Social -->
                </div>
                <!--Footer Info -->
                <div class="row footer-info mb-60 ">
                    <div class="col-md-3 col-sm-12 col-xs-12 mb-sm-30 ">
                        <p class="mb-xs-0 ">Formation Domain-Driven Design en Français sur Paris.</p>
                    </div>
                    <div class="col-md-5 col-sm-6 col-xs-12 mb-sm-30 mb-xs-0 ">
                        <ul class="link ">
                            <li><a href="/blog">Blog</a></li>
                            <li><a href="#presentation">Présentation de la formation Domain-Driven Design</a></li>
                            <li><a href="#contenu">Contenu de la Formation</a></li>
                            <li><a href="#pricing">Dates &amp; Tarifs de la Formation</a></li>
                            <li><a href="#formateur">Formateur</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12 ">
                        <p><strong>Adixe SARL</strong><br/>
                        231 rue Saint-Honoré <br/>
                        75001 Paris, France. <br/>
                        <br/>
                        R.C.S. Paris 500 655 220 <br/>
                        N° Déclaration d'activité de Formation <br/>11 75 52658 75<br/>
                        <br/>
                        </p>
                        <ul class="link-small ">
                            <li><a href="mailto:jeremie@adixe.com "><i class="fa fa-envelope-o left "></i>jeremie@adixe.com</a></li>
                            <li><a><i class="fa fa-phone left "></i>+33 (0) 6 71 01 06 52</a></li>
                        </ul>
                    </div>
                </div>
                <!-- End Footer Info -->
            </div>

            <hr />

            <!-- Copyright Bar -->
            <section class="copyright ptb-60 ">
                <div class="container ">
                    <p class=" ">
                        © 2016 <a href="http://www.adixe.com"><b>Adixe SARL</b></a>. Tout droits réservés.
                        <br />
                    </p>
                </div>
            </section>
            <!-- End Copyright Bar -->

        </footer>
        <!-- END FOOTER -->

        <!-- Scroll Top -->
        <a class="scroll-top ">
            <i class="fa fa-angle-double-up "></i>
        </a>
        <!-- End Scroll Top -->