 <!-- FOOTER -->
        <footer class="footer">
            <div class="footer-container">
                <div class="column">
                    <img src="/img/footer-logo.svg"/>
                </div>
                <div class="column">
                    <a href="/#presentation">Présentation</a>
                    <a href="/#dates">Dates</a>
                    <!--a href="/#blog">Blog</a-->
                    <a href="/#team">Organisateurs</a>
                </div>
                <div class="column">
                    <a href="http://www.meetup.com/fr-FR/Paris-Clojure-User-Group/">Page Meetup</a>
                    <a href="/download/ident-pack.zip">Logo & Identité</a>
                    <a href="/blog">Blog</a>
                </div>
                <div class="clearfix"></div>
            </div>
        </footer>
        <!-- END FOOTER -->

        <!-- Scroll Top -->
        <a class="scroll-top ">
            <i class="fa fa-angle-double-up "></i>
        </a>
        <!-- End Scroll Top -->
