        <header class="shiny-header">
            <div class="logo">
                <a href="/">
                <img class="illu" src="/img/logos/paris-clojure.svg"/>
                <img class="typo" src="/img/logos/texte-paris-clojure-meetup.svg"/>
                </a>
            </div>
            <nav>
                <a href="/#presentation">Présentation</a>
                <a href="/#dates">Dates</a>
                <a href="/#team">Organisateurs</a>
                <a href="/blog">Blog</a>
            </nav>
        </header>
