 <!-- Preloader -->
    <!--<section id="preloader">
        <div class="loader" id="loader">
            <div class="loader-img"></div>
        </div>
    </section>-->
    <!-- End Preloader -->
    <!-- Search menu Top -->
    <!--section class=" top-search-bar cbp-spmenu cbp-spmenu-horizontal cbp-spmenu-top">
        <div class="container">
            <div class="search-wraper">
                <input type="text" class="input-sm form-full" placeholder="Search..." name="search" />
                <a class="search-bar-icon"><i class="fa fa-search"></i></a>
                <a class="bar-close toggle-menu menu-top push-body"><i class="ion ion-android-close"></i></a>
            </div>
        </div>
    </section-->
    <!--End Search menu Top -->
    <!-- Site Wraper -->

        <!-- HEADER -->
        <header class="shiny-header">
            <div class="logo">
                <a href="/"><img class="illu" src="/img/logos/paris-clojure.svg"/><img class="typo" src="/img/logos/paris-clojure-type.svg"/></a>
            </div>
            <nav>
                <a href="/#presentation">Présentation</a>
                <a href="/#dates">Dates</a>
                <a href="/#blog">Blog</a>
                <a href="/#contact">Contact</a>
            </nav>
                <!--End Navigation Menu -->
        </header>
        <!-- END HEADER -->
