 <!-- Intro Section -->
        <section class="home-slider">
            <!-- Hero Slider Section -->
            <div class="owl-carousel fullwidth-slider o-flow-hidden">
                <div class="item bg-img parallax parallax-section1" style="background-image: url('img/craft-fig.jpg');">
                    <!-- Content -->
                    <div class="full-cap-wraper overlay-dark20 light-color">
                        <div class="content-caption light-color">
                            <div class="container">
                                <h1 class="h1">Formation
                                <br/>
                                <br/>
                                Domain-Driven Design
                                </h1>
                                <br/>
                                <br/>
                                <div><a class="btn btn-md btn-white xs-hidden">En Savoir Plus</a><span class="btn-space-10 xs-hidden"></span><a class="btn btn-md btn-white">S'inscrire</a></div>
                            </div>
                        </div>
                    </div>
                    <!-- End Content -->
                </div>
            </div>
            <!-- End Hero Slider Section -->
        </section>
        <div class="clearfix"></div>
        <!-- End Intro Section -->