.content {
    .blog-container {
        @extend .container;
        padding: 30px 0px;
    }
}

.intro-blog-cover {
    display: block;
    width: 100%;
    background-color: $darkBlue;
    height: 160px;
    padding: 150px 0 100px;

    img {
        display: block;
        width: 90%;
        max-width: 800px;
        margin: 0px auto;
    }

    &.single {
        height: 120px;
        padding: 120px 0 100px;
    }

    .post-single-title {
        display: block;
        width: 90%;
        max-width: 800px;
        margin: 0px auto 10px;
        font-family: $SexyComme;
        color: $lightGreen;
        text-align: center;
        font-size: 40px;
        line-height: 50px;
    }

    .page-breadcrumb {
        display: block;
        width: 100%;
        text-align: center;
        height: 100px;
        line-height: 100px;
        font-family: $SexyComme;
        color: $lightFont;
        font-size: 20px;
        letter-spacing: 2px;

        a, a:visited {
            color: $lightFont;

            &:hover {
                color: $lightBlue;
            }

            &:active {
                color: $blue;
            }
        }
    }
}

.blog-post {

    .post-header {
        margin: 20px 0 20px;

        h1 {
            display: block;
            position: relative;
            width: 100%;
            margin: 0px auto;
            //height: 37px;
            //line-height: 54px;
            font-family: $SexyComme;
            font-size: 40px;
            color: $darkFont;
            text-indent: -4px;

            &::before, &::after {
                content: "";
                display: block;
                position: absolute;
                height: 1px;
                width: 80000px;
                left: -5000px;
                background-color: $borderColor;
                z-index: -10;
            }

            &::before {
                top: 3px;
            }

            &::after {
                bottom: 16px;
            }
        }

        a {
            width: 100%;
            text-decoration: none;
            color: $darkFont;

            &:hover {
                color: $lightBlue;
            }

            &:active {
                color: $blue;
            }

            &:visited {
                color: $darkFont;

                &:hover {
                    color: $lightBlue;
                }

                &:active {
                    color: $blue;
                }
            }
        }
    }

    .post-meta {
        display: block;
        position: relative;
        width: 100%;
        font-family: $SexyComme;
        font-size: 20px;
        margin: 40px 0px !important;
        color: $mediumFont;

        span {
            display: inline-block;
            float: left;

            a, a:visited {
                color: $mediumFont;

                &:hover {
                    color: $lightBlue;
                }

                &:active {
                    color: $blue;
                }
            }
        }
    }

    .post-entry {
        display: block;
        width: 100%;
        font-family: $base-text-font;
        font-size: 22px;
        line-height: 28px;
        margin: 25px 0 20px;
        color: $mediumFont;

        a, a:visited {
            color: $mediumFont;

            &:hover {
                color: $lightBlue;
            }

            &:active {
                color: $blue;
            }
        }
    }

    .post-tag {
        display: block;
        width: 100%;
        margin: 20px 0 40px;
        font-family: $base-text-font;
        font-size: 18px;
        color: $mediumFont;

        a {
            color: $mediumFont;

            &:hover {
                color: $lightBlue;
            }

            &:active {
                color: $blue;
            }

            &:visited {
                color: $darkFont;

                &:hover {
                    color: $lightBlue;
                }

                &:active {
                    color: $blue;
                }
            }
        }
    }

    .post-more-link {
        display: block;
        position: relative;
        margin-right: 15px;
        float: right;
        height: 24px;
        line-height: 22px;
        font-family: $SexyComme;
        font-size: 22px;
        text-decoration: none;
        color: $darkFont;

        &::after, &::before {
            content: "";
            display: block;
            position: absolute;
            width: 12px;
            height: 3px;
            @include border-radius(10px);
            background-color: $darkFont;
            right: -16px;
        }

        &::after {
            transform: rotate(-45deg);
            top: 11px;
        }

        &::before {
            transform: rotate(45deg);
            top: 4px;
        }

        &:hover {
            color: $lightBlue;

            &::after, &::before {
                background-color: $lightBlue;
            }
        }

        &:active {
            color: $blue;

            &::after, &::before {
                background-color: $blue;
            }
        }

        &:visited {
            text-decoration: none;

            &:hover {
                color: $lightBlue;

                &::after, &::before {
                    background-color: $lightBlue;
                }
            }

            &:active {
                color: $blue;

                &::after, &::before {
                    background-color: $blue;
                }
            }
        }

    }
}

.post-content {
    display: block;
    position: relative;
    width: 100%;
    font-family: $Gentium;
    font-weight: normal;
    font-style: normal;
    color: $mediumFont !important;
    font-size: 21px;

    h1 {
        font-size: 44px;
        margin: 45px auto 25px;
        text-indent: -4px;

        &::after {
            bottom: 18px;
        }

        &::before {
            top: 3px;
        }
    }

    h2 {
        display: block;
        position: relative;
        width: 100%;
        margin: 60px auto 15px;
        font-family: $SexyComme;
        font-size: 30px;
        color: $darkFont;

        & + h3 {
            margin: 20px 0px 5px;
        }
    }

    h3 {
        display: block;
        font-size: 100%;
        font-family: $SexyComme;
        color: $darkFont;
        font-weight: bold;
        margin: 35px 0px 10px;
    }

    p {
        line-height: 28px;
        strong {
            font-family: "GentiumBold";
            font-weight: 700;
            font-style: normal;
        }

        em {
            font-family: "GentiumItalic";
            font-weight: normal;
            font-style: italic;
        }
    }

    ul {
        display: block;
        width: 75%;
        margin: 10px 0px 10px 60px;

        li {
            margin: 5px 0px;
        }
    }

    a {
        color: $mediumFont;
        // the following was stolen from medium stylesheet to get a thinner underline for anchor
        text-decoration: none;
        background-image: linear-gradient(to bottom,rgba(0,0,0,0) 50%,rgba(0,0,0,.6) 50%);
        background-repeat: repeat-x;
        background-size: 2px .1em;
        background-position: 0 1.05em;

        &:hover {
            color: $lightBlue;
            background-image: linear-gradient(to bottom, $lightBlueRGBA0 50%, $lightBlueRGBA06 50%);
        }

        &:visited {
            background-image: linear-gradient(to bottom,rgba(75, 109, 215, 0) 50%,rgba(75, 109, 215, .6) 50%);
        }
    }

    blockquote {
        display: block;
        position: relative;
        width: 95%;
        margin: 20px auto;
        padding: 7px 0 7px 5%;
        color: $darkFont;

        p {
            margin: 0;
            line-height: 20px;
        }

        ul {
            margin: 5px 0px 5px 25px;

            li {
                margin: 5px 0px;
            }
        }

        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 25px;
            width: 4px;
            background-color: $lightBlue;
        }

        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 25px;
            right: 0px;
            background-color: $lightBlue;
            opacity: 0.1;
        }
    }

    pre {
        padding: 0px;
    }
}

.post-author-single {
    margin: 60px 0 30px;
    position: relative;

    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 1px;
        left: -5000px;
        width: 10000px;
        height: 1px;
        background-color: $borderColor;
        z-index: -10;
    }

    &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: 10px;
        left: -5000px;
        width: 10000px;
        height: 1px;
        background-color: $borderColor;
        z-index: -10;
    }


    h6 {

        a, a:visited {
            display: inline;
            font-family: $SexyComme;
            color: $darkFont;
            font-size: 27px;
            text-decoration: none;

            &:hover {
                color: $lightBlue
            }

            &:active {
                color: $blue;
            }
        }
    }

    .social {
        display: block;
        float: right;
    }
}
